*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

referit/data/*
referit/log/*
referit/results*/*
referit/caffemodel/*
referit/tfmodel/*
referit/__obsolete__/*
referit/referit-dataset/*

*.caffemodel
*.tfmodel*

*-Copy*.ipynb

checkpoint
snapshots

demo/demo_results
